<!-- views/score.ejs -->
<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Score TIMI</title>
    <meta descr="Résultat de votre TIMI">
   
</head>
<body>

    <div id=download>
        <table>
            <tr>
                <td><button id=csvbtn>CSV</button></td>
                <td><button id=jsonbtn>JSON</button></td>
                <td><button id=consistance_scorebtn>tableau consistance score</button></td>
                <td><button id=consistance_timingbtn>tableau consistance temps de réponse</button></td>
                <td><button id=variables_dgpdhb_btn>tableau Variables Droite Gauche Palmaire Dorsal Haut Bas</button></td>
            </tr>
        </table>
    </div>

    <div id=metadata>
        <table>
            <tr>
                <td>code patient</td>
                <td><%=user.codepatient%></td>
            </tr>
            <tr>
                <td>âge</td>
                <td><%=user.age%></td>
            </tr>
            <tr>
                <td>sexe</td>
                <td><%=user.sex%></td>
            </tr>
            <tr>
                <td>latéralisation</td>
                <td><%=user.lat%></td>
            </tr>
            <tr>
                <td>CSP 1</td>
                <td><%=user.csp1%></td>
            </tr>
            <tr>
                <td>CSP 2</td>
                <td><%=user.csp2%></td>
            </tr>
            <tr>
                <td>UserAgent</td>
                <td><%=user.useragent%></td>
            </tr>
            <tr>
                <td>total de bonne réponses</td>
                <td><%=user.goodanswers%></td>
            </tr>
            <tr>
                <td>temps total</td>
                <td><%=user.completetiming%> sec</td>
            </tr>
            <tr>
                <td>temps moyen de réponse</td>
                <td><%=user.avgtiming%> sec</td>
            </tr>            
            <tr>
                <td>index de performance ( temps de réponse moyen / nombre de bonnes réponses )</td>
                <td><%=user.indexperf%></td>
            </tr>           
            <tr>
                <td>Performance Global ( somme des scores )</td>
                <td><%=user.globalperf%></td>
            </tr>

        </table>
    </div>

    <div id=answers>
        <table>
            <%
                let answerslength = user.answers.length ;
                let count = 0 ;
                for(count ; count < answerslength ; count ++)
                {
                    %>
                    <tr>
                        <td><%=user.answers[count].diapo%></td>
                        <td><%=user.answers[count].timing%> sec</td>
                        <td><%=user.answers[count].choice%></td>
                        <td><%=user.answers[count].value%></td>
                        <td><%=user.answers[count].perf%></td>
                    </tr>
                    <%
                }
            %>
        </table>
    </div>

    <script src="/JS/fetchscore.js"></script>
</body>

</html>
